node_modules/
custom_modules/
*/android/
android/.gradle/
android/.idea/
android/gradle/
android/app/BUCK
android/app/_BUCK
android/app/build/
android/app/release/
android/app/src/main/assets/
android/app/src/main/res/
ios/*/
ios/Pods/
.vscode/
.git1/
__test__/

*.plist

!ios/StepUp/AppDelegate.m
.watchman-cookie-SmartGens-MacBook-Pro.local-428-736
/.DS_Store
.DS_Store
.DS_Store
android/.DS_Store
ios/.DS_Store
src/containers/.DS_Store
